h2 {
    font-size: 1.76em;
}

h3 {
    font-size: 1.42em;
}

.annotation {
    display: none;
}

.annotation-decision {
    text-align: center;
}

.box-container {
    position: relative;
}

input[type=range] {
    padding: 0 !important;
    border: none;
}

.classification-labels .col {
    position: relative;
}

.classification-labels .btn {
    width: 100%;
    font-weight: bold;
    height: 65px;
}

.classification-labels .definition-button {
    position: absolute;
    z-index: 0;
    bottom: -15px;
    right: -3px;
}

.classification-labels .col:first-of-type .definition-button {
    left: -3px;
}

.confidence-slider {
    text-align: center;
}

.confidence-label-container {
    width: 100%;
    text-align: center;
}

.confidence-question {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 17px;
}

.confidence-label {
    font-weight: bold;
}

.confidence-buttons {
    text-align: center;
}

.confidence-buttons label {
    padding: 0 0 0 35px;
    font-weight: bold;
}

.submission-button {
    display: inline-block;
    position: absolute;
    right: -15px;
    bottom: -10px;
}

dfn {
    position: relative;
    display: inline-block;
    cursor: help;
    text-decoration: underline;
  }
  dfn:before {
    content: attr(title);
  }
 .dfn-tooltip {
    display: none;
  }
  dfn:hover > .dfn-tooltip {
    display: block;
    position: absolute;
    top: calc(1em + 5px);
    width: 500px;
    background: #f3f3f3;
    border: 1px black;
    padding: .5em;   
    border: none;   
    cursor: help;
    text-align: left;
  }

  #correct_answer, #correct_explanation {
      display: none;
  }

  .toast.rounded {
    max-width: 400px;
    word-break: break-word;
}